on : [push, pull_request]
jobs:
    publisher:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - run: npm ci
            - run: npm audit
            - run: npm run lint:check
            - run: npm run zip:firefox
            - uses: actions/upload-artifact@v4
              with:
                path: ./.output/addon-background-color-0.0.1-firefox.zip
            - uses: trmcnvn/firefox-addon@v1
              with:
                xpi: .output/addon-background-color-0.0.1-firefox.zip
                manifest: manifest.json
                api-key: ${{ secrets.FIREFOX_JWT_ISSUER }}
                api-secret: ${{ secrets.FIREFOX_JWT_SECRET }}
